In [1]:
print 'Yankees rule!'
print 'But not in Boston!'
print 'Yankees rule,', 'but not in Boston!'

Yankees rule!
But not in Boston!
Yankees rule, but not in Boston!

In [2]:
3 + 2

5

In [3]:
3.0 + 2.0

5.0

In [4]:
3 != 2

True

In [5]:
type(3)

int

In [6]:
type(3.0)

float

In [7]:
x, y = 2, 3
x, y = y, x
print 'x =', x
print 'y =', y

x = 3
y = 2

In [8]:
if x % 2 == 0:
    print '偶数'
else:
    print '奇数'
print '条件に応じて実行'

奇数
条件に応じて実行

In [9]:
if x % 2 == 0:
    if x % 3 == 0:
        print '2と3で割り切れる'
    else:
        print '2で割り切れ、3で割り切れない'
elif x % 3 == 0:
    print '3で割り切れ、2で割り切れない'

3で割り切れ、2で割り切れない

In [10]:
z = 4

if x < y and x < z:
    print 'xが最小'
elif y < z:
    print 'yが最小'
else:
    print 'zが最小'

yが最小

In [11]:
'a'

'a'

In [12]:
3 * 4

12

In [13]:
3 * 'a'

'aaa'

In [14]:
3 + 4

7

In [15]:
'a' + 'a'

'aa'

In [16]:
a

NameError: name 'a' is not defined

In [17]:
'a' * 'a'

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
name = raw_input('名前を入力: ')

5ZCN5YmN44KS5YWl5YqbOiA=
こくぼあつし

In [19]:
print 'あなたは', name, 'ですか？'

あなたは こくぼあつし ですか？

In [20]:
print 'あなたは' + name + 'ですか？'

あなたはこくぼあつしですか？

In [21]:
n = raw_input('整数を入力:')

5pW05pWw44KS5YWl5YqbOg==
234

In [22]:
print type(n)

<type 'str'>

In [23]:
# 整数の自乗を難しい方法で求める
x = 3
ans = 0
itersLeft = x
while (itersLeft != 0):
    ans = ans + x
    itersLeft = itersLeft - 1
print str(x) + '*' + str(x) + ' = ' + str(ans)

3*3 = 9